NODE_ENV={{ node_env }}
BOT_PORT={{ bot_port }}
BOT_CODEBATTLE_SOCKET_TOKEN={{ bot_codebattle_socket_token }}
BOT_CODEBATTLE_SOCKET_URL={{ bot_codebattle_socket_url }}
CODEBATTLE_DB_NAME={{ codebattle_db_name }}
CODEBATTLE_DB_HOSTNAME={{ codebattle_db_hostname }}
CODEBATTLE_DB_USERNAME={{ codebattle_db_username }}
CODEBATTLE_DB_PASSWORD={{ codebattle_db_password }}
CODEBATTLE_DB_PORT={{ codebattle_db_port }}
TELEGRAM_BOT_TOKEN={{ telegram_bot_token }}
DISCORD_BOT_TOKEN={{ discord_bot_token }}
DISCORD_BOT_CLIENT_ID={{ discord_bot_client_id }}
